//マップ型変数breakpointsを定義
$breakpoints: (
//キー　　値
  'sp': 'screen and (max-width: 767px)', //767px以下（スマホ）用の表示
  'pc': 'screen and (min-width: 768px)' //768px以上（タブレット・PC）用の表示
) !default;

//メディアクエリ用のmixinを定義。デフォ値はsp
@mixin mq($breakpoint: sp) {
//map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

//使用例
.header {
  height: 100px; //ＰＣ用の表示

  @include mq() {
    height: 60px; //スマホの時だけ高さを60pxに！
  }
}

/*このように @media screen and (width: 767px) { } を書かなくても、
PC用のcssを書きながらスマホ用の表示を書き足すことができます！ */


@function activeFontSize($baseSize){
    @return $baseSize + 2px;
}

$link-color-active:orange;
$link-color-base:#333;
$link-font-size:32px;

@mixin button($font-size) {
    color: #333;
    font-size: $font-size;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 16px;
    border: 1px solid #333;
    text-decoration: none;
  }

.lists{
    padding: 0;
    margin: 0;
    display: flex;

    li{
        width: 30%;
        text-align: center;
        
        a{
            @include button(14px);

            &:hover{
                color: orange;
            }

            &.active{
                font-size: activeFontSize(($link-font-size));
                color: $link-color-active;
            }
        }
    }
}