@use "../mixin/mq" as mq;

@include mq.mq(){
    .header-nav{
        display: flex;
        justify-content: space-between;
    }
}

.nav-items{
    float: left;
}

.course-click-btn{
    font-size: 15px;
    font-weight: bold;
    line-height: 36px;
    cursor: pointer;
}

.header-nav-item{
    margin-left: 50px;
    text-align: center;

    @include mq.mq(){
        float: none;
        margin: 0;
    }

    a{
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    }
}