body{
    color: #082848;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

img{
    width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: #082848;
}

a:hover{
    opacity: 0.7;
}

.container{
    width: 90%;
    max-width: 980px;
    margin: auto;
}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

/* ---------------
header
--------------- */
header{
    padding: 20px 0;
}

.header-left{
    float: left;
}

.header-title{
    font-weight: bold;
    font-size: 24px;
}

.header-right{
    float: right;
}

.header-nav-item{
    float: left;
    margin-left: 50px;
}

.header-nav-item a{
    font-weight: 600;
    font-size: 15px;
    line-height: 36px;
}

/* --------------
top
-------------- */
.top{
    background-image: url(../img/main-vsual-nontitle.png);
    background-size: cover;
    padding: 80px 0;
}

.top-title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.top-subtitle{
    font-size: 18px;
    text-align: center;
}

/* -----------
section共通クラス
------------ */
.section{
    padding: 60px 0;
}

.section-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

/* --------------
about
--------------- */
.about-left{
    width: 48%;
    float: left;
}

.about-right{
    width: 48%;
    float: right;
}

/* -------------
course
-------------- */
.course{
    background-color: #e3fcf4;
}

.course-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.course-item{
    width: 30%;
}

/* -------------
contact
------------- */
.contact-message{
    text-align: center;
    margin-bottom: 20px;
}

input[type="email"]{
    width: 600px;
    border: 3px solid #d8d8d8;
    border-radius: 999px;
    font-size: 18px;
    display: block;
    margin: auto;
    padding: 15px;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding: 20px 60px;
    background-color: #082848;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.btn:hover{
    opacity: 0.7;
    cursor: pointer;
}

.btn-register{
    display: block;
    margin: auto;
    background-color:  #ec6d64;
}

/* ---------------
footer
--------------- */
footer{
    padding: 20px 0;
    background-color: #082848;
    color: white;
}

.copyright{
    float: right;
    font-size: 12px;
}

/* ---------------
スマホ用の表示
------------------ */
@media only screen and (max-width:767px){
.clear::after{
    content: none;
}

/* ---------------
header
---------------- */
.header-left{
    float: none;
}

.header-title{
    text-align: center;
}

.header-right{
    float: none;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}

.header-nav-item{
    float: none;
    margin: 0;
}

/* --------------
top
-------------- */
.top{
    padding: 120px 0;
}

.top-title{
    font-size: 32px;
}

.top-subtitle{
    font-size: 14px;
}

/* -------------
section共通クラス
----------------- */
.section{
    padding: 80px 0;
}

.section-title{
    font-size: 24px;
}

.section p{
    font-size: 14px;
}

/* ---------------
about
--------------- */
.about-left{
    float: none;
    width: 100%;
    margin-bottom: 20px;
}

.about-right{
    float: none;
    width: 100%;
}

/* ------------------
course
----------------- */
.course-item{
    width: 100%;
    margin-bottom: 20px;
}

/* ----------------
contact
---------------- */
input[type="email"]{
    width: 100%;
}

/* ----------------
footer
----------------- */
.copyright{
    float: none;
    font-size: 10px;
    text-align: center;
}

}